<div class="navbar-item is-parent" data-level="1">
    <a href="/about/">О нас</a>
    <div class="submenu">
        <div class="navbar-item" data-level="2">
            <a href="/news/index.php">Новости</a>
        </div>
        <div class="navbar-item is-parent" data-level="2">
            <a href="/brand/">Наш бренд</a>
            <div class="submenu">
                <div class="navbar-item" data-level="3">
                    <a href="/brand/mission.php">Наш бренд: миссия и ценности</a>
                </div>
                <div class="navbar-item" data-level="3">
                    <a href="/brand/style.php">Наш бренд: фирменный стиль</a>
                </div>
                <div class="navbar-item" data-level="3">
                    <a href="/brand/changes.php">Мы меняемся</a>
                </div>
                <div class="navbar-item" data-level="3">
                    <a href="/brand/honors.php">Награды</a>
                </div>
            </div>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/about/our_people/">Наши люди</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/about/safety.php">Нормативные документы</a>
        </div>
    </div>
</div>
<div class="navbar-item is-parent" data-level="1">
    <a href="/clients/">Нашим клиентам</a>
    <div class="submenu">
        <div class="navbar-item" data-level="2">
            <a href="/clients/index.php">3 причины стать нашим клиентом</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/clients/clients1.php">Хотели бы стать нашим субагентом?</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/clients/clients2.php">Хотели бы стать нашим корпоративным клиентом?</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/clients/clients3.php">Хотели бы купить билеты онлайн?</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/clients/clients4.php">Хотели бы пройти обучение?</a>
        </div>
    </div>
</div>
<div class="navbar-item is-parent" data-level="1">
    <a href="/partners/">Нашим партнерам</a>
    <div class="submenu">
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners.php">Лидер работает с Лидерами</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners1.php">Авиакомпании</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners2.php">Системы бронирования</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners3.php">Железнодорожные перевозчики</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners4.php">Гостиничные сети и брокеры</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners5.php">Страховщики</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners6.php">Банки</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/partners/partners7.php">Платежные системы</a>
        </div>
    </div>
</div>
<div class="navbar-item is-parent" data-level="1">
    <a href="/careers/">Карьера</a>
    <div class="submenu">
        <div class="navbar-item" data-level="2">
            <a href="/careers/corp_life/">Корпоративная жизнь</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/careers/25-success-stories.php">25 историй успеха</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/careers/our-office.php">Наш офис</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/careers/atlas-vipservice.php">Атлас Випсервис </a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/careers/Vipservice_traditions.php">Традиции Випсервис</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/careers/mba_vipservice.php">МБА Випсервис</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/careers/friends.php">Наши друзья</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/careers/good.php">Добрые дела</a>
        </div>
    </div>
</div>
<div class="navbar-item" data-level="1">
    <a href="/contacts/">Контакты</a>
</div>
<div class="navbar-item is-parent" data-level="1">
    <a href="/portbilet/">Портбилет</a>
    <div class="submenu">
        <div class="navbar-item" data-level="2">
            <a href="https://portbilet.ru/app/">Вход в Портбилет</a>
        </div>
        <div class="navbar-item" data-level="2">
            <a href="/portbilet/demoprtb.php">Демо-доступ</a>
        </div>
    </div>
</div>