@use "bulma/sass/utilities/mixins" as *;

:root {
    --bulma-burger-item-width: 30px;
    --bulma-burger-gap: 6px;
}

a {
    color: #62B5E5;
    text-decoration: underline;

    &:link, &:visited {
        color: #62B5E5;
    }

    &:active, &:hover {
        color: red;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #315470;

    a {
        text-decoration: none;
        color: currentColor;

        &:link, &:visited {
            color: currentColor;
        }

        &:hover, &:active {
            color: red;
        }
    }
}


.control {

    .input {

    }

    .input::placeholder {
        color: #A8A8A8;
        padding: 0 1rem;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            display: block;
        }
    }
}

.hero.main {
    background: url("../images/butterfly.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 0;
    margin-bottom: 32px;
    min-height: 201px;

    @include desktop {
        margin-bottom: 42px;
        padding: 2rem 5rem;
        min-height: 460px;
    }

    @include widescreen {
        padding: 2rem 7.25rem;
        min-height: 460px;
    }
}

.breadcrumbs {
    padding: 1rem;
    font-size: 12px;
    display: flex;
    gap: 8px;
    @include desktop {
        padding: 0 5rem;
    }

    @include widescreen {
        padding: 0 7.25rem;
    }

    .crumb {
        display: block;
        text-decoration: none;
        &:not(:last-child):after {
            content: ">";
            color: black;
            margin-left: 5px
        }
    }


}

.hero.main.main2 {
    background: url("../images/leafes.png") center center;
    background-size: cover;
    position: relative;
    padding: 0;
    margin-bottom: 24px;
    min-height: 200px;

    @include desktop {
        margin-bottom: 32px;
        padding: 2rem 5rem;
        min-height: 200px;
        .slogan {
            display: none;
        }
    }

    @include widescreen {
        padding: 2rem 7.25rem;
        min-height: 200px;
    }


}


.navbar-burger {
    color: #CE0058;
    background: none;
    margin-right: 16px;

    &:link, &:visited {
        text-decoration: none;
    }

    &:active, &:visited {
        text-decoration: none;
    }
}

nav {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    align-items: flex-start;
    z-index: 1;

    .brand {
        margin-left: 20px;
        margin-top: 7px;

        svg {
            margin: 0;
            display: block;
        }

        @include desktop {
            margin-bottom: 21px;
        }

    }

    @include desktop {
        position: unset;
        height: 87px;
        width: auto;
        align-items: flex-end;
    }

}

.navbar-menu {

    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    font-weight: bold;
    padding: 20px 16px;

    .navbar-item {
        margin: 0;
        padding: 0;
        line-height: 32px;
        position: relative;

        &.is-parent>.submenu {
            background: #fff;
            font-size: 12px;
            position: absolute;
            top: 100%;
            left: -0.75rem;
            padding: 0.5rem 0.75rem;
            display: none;
            height: auto;
            max-height: 0;
            transition: max-height 300ms ease-in-out;
            min-width: 200px;
            a {
                line-height: 18px;
            }
        }

        &.is-parent>.submenu .submenu{
            left: unset;
            top: 0;
            padding: 0.5rem 0.75rem;
            right: 100%;
            min-width: 200px;
        }

        &.is-parent:hover>.submenu {
            height: auto;
            display: block;
            max-height: 400px;
        }
        .submenu {
            .navbar-item {
                margin-bottom: 0.5rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .icon {
            position: relative;
            top: 2px;
            right: 4px;
        }

        @include desktop {
            line-height: 24px;
        }
    }

    a {
        color: #315470;
        text-decoration: none;

        &:hover {
            color: red;
        }
    }

    @include desktop {
        display: flex;
        position: unset;
        top: 0;
        left: 0;
        flex-direction: row;
        gap: 36px;
        width: auto;
        font-size: 16px;
        margin-bottom: 0;
        margin-right: 5px;
        justify-content: flex-end;
    }
}


.hero-body {
    margin: 0;
    padding: 0;
}


.flag {
    height: 22px;
}

.search-bar {
    display: none;
    flex-direction: row;
    align-items: center;

    .control {
        max-width: 191px;
        border: 1px solid #A8A8A8;

        input::placeholder {
            font-size: 14px;
        }
    }

    &.desktop {
        display: none;
        @include desktop {
            justify-content: flex-end;
            margin-bottom: 0.5rem;
            display: flex;
        }
    }

    &.mobile {

        display: flex;
        margin-top: 24px;
        justify-content: space-between;
        @include desktop {
            display: none;
        }
    }
}

.slogan {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;

    .line {
        background: linear-gradient(90deg, #702082 0%, #EE2737 100%);
        display: block;
        padding: 0 20px;
        width: auto;
        font-size: 18px;
        line-height: 31px;
        font-weight: bold;
        color: white;
        @include desktop {
            font-size: 30px;
            line-height: 42px;
            padding: 0 8px;
        }
    }
}

.section {
    padding: 28px 20px;

    @include desktop {
        padding: 60px 5rem;
    }

    @include widescreen {
        padding: 60px 7.25rem;
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
        font-weight: bold;
        color: black;

        margin-top: 10px;
        margin-bottom: 40px;

        @include desktop {
            margin-top: 0;
            margin-bottom: 50px;
        }
    }


}

h2.more-margin {
    @include desktop {
        margin-top: 60px;
    }
}

.services {

    display: grid;
    grid-gap: 20px;

    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .services-item {
        h3 {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 8px;
            margin-top: 8px;

        }

        a {
            color: #315470;
        }
    }

    figure {
        margin: 0;
        padding: 0;
        overflow: hidden;

        img {
            margin: 0;
            padding: 0;
            display: block;
        }
    }
}

.news {
    display: grid;
    grid-gap: 20px;

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .news-item {
        .date {
            font-size: 12px;
            line-height: 16px;
            color: black;
            margin-bottom: 7px;
        }

        h3 {
            font-size: 16px;
            color: #315470;
            max-width: 75%;
            margin-bottom: 6px;
            line-height: 22px;
        }

        .intro {
            margin-bottom: 6px;
            font-size: 14px;
            line-height: 18px;
        }

        .link {
            margin-bottom: 8px;
        }

    }
}

.allnews {
    font-size: 16px;
    text-decoration: none;
    color: #315470 !important;
    font-weight: bold;
    margin-top: 24px;
    display: inline-block;
}

.main-carousel {
    display: flex;
    gap: 20px;

    .swiper-slide {
        width: 25%;

        @include mobile {
            width: 100%
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.section.light {
    background: #EAEEF1;
    padding-bottom: 60px;
}

.marketplace {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {

        img {
            object-fit: cover;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.section.blue {
    background: #62B5E5;

    h2 {
        color: white !important;
    }

    .spravka {
        background: white;
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    .spravka-item {
        width: 100%;
        padding: 36px;
        text-align: center;

        .icon {
            margin-bottom: 4px;
            @include desktop {
                margin-bottom: 12px;
            }
        }

        h3 {
            line-height: 24px;
            margin-bottom: 8px;
            @include desktop {
                line-height: 24px;
                margin-bottom: 16px;
            }

        }

        .info {
            font-size: 14px;
        }

        @include desktop {
            width: 25%;


        }
    }
}

.footer {
    @extend .section;
    background: #315471;
    color: white;
    font-weight: normal !important;
    gap: 20px;
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    @include desktop {

        flex-direction: row;
        justify-content: space-between;
    }

    h4 {
        font-weight: normal;
        color: white;
        font-size: 16px;
        margin-bottom: 6px;
    }

    ul > li {
        margin-bottom: 6px;
    }

    .col {
        font-size: 12px;
        width: 100%;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 16.6%;
        }
    }

}

//////////////////////////////////////////

.article {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mobile {

    }

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
        .center-col, .content {
            width: 67%;
            font-size: 16px;
        }

        .right-col, .sidemenu {
            flex-grow: 1;
            margin-left: 80px;
            li {
                padding: 8px 0;
                color: #315470;
                border-bottom: 1px solid #A8A8A8;
                position: relative;
            }

            li.active {
                color: #62B5E5;
                font-weight: bold;
            }

            li.dropdown {
                cursor: pointer;
                ul {
                    display: none;
                    margin-top: 0.25rem;
                    li {
                        font-size: 14px;
                        padding: 4px 0;
                        margin-left: 1.25rem;
                        line-height: 20px;
                        border-bottom: none;
                    }
                }
            }



            li.dropdown:after {
                content: " ";
                background: url("../images/icons/down.svg") center center;
                background-size: 100% 100%;
                width: 16px;
                display: block;
                position: absolute;
                right: 0;
                top: 5px;
                height: 16px;
                line-height: 0;
                transform: translateY(50%);
            }

            li.dropdown.opened {
                ul {
                    display: block;
                }
            }
            li.dropdown.opened:after {
                transform: translateY(50%) rotate(180deg);
            }




        }
    }
}

.center-col, .content {

    p:not(:last-child) {
        margin-bottom: 2.25rem;
    }

    h3 {
        color: #315470;
        @include desktop {
            margin-bottom: 25px;
        }
    }

    h4 {
        color: #315470;
        @include desktop {
            margin-bottom: 25px;
        }
    }

    h5 {
        color: black;
        margin: 2.25rem 0 12px;
    }

    figure {
        width: 100%;
        margin: 32px 0;
        padding: 0 !important;
        height: 460px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

.contact-section {

    &:not(:first-child) {
        margin-top: 50px;
    }

    h3.contact-header {
        font-size: 18px;
        color: #62B5E5;
    }
    .country {
        font-size: 24px;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: 40px;
        padding-bottom: 24px;
        border-bottom: 1px solid #A8A8A8;
    }

    .city-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px 20px;

        @include tablet {
            grid-template-columns: 1fr 1fr;
        }

        @include desktop {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .name {
            font-weight: bold;
        }
        .office {
            font-weight: bold;
            margin-bottom: 24px;
        }
        .address {
            margin-bottom: 24px;
        }
        .map-lookup {
            color: #315470;
        }
    }
}

nav {
    position:relative;

}

.languages {

    @include touch {
        display: none;
    }
    position: absolute;
    right: 1.25rem;
    top: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    min-width: 44px;
    padding-top: 26px;
    padding-right: 1.25rem;
    align-items: flex-start;
    z-index: 10;
    background: #fff;

    &.opened {
        min-height: 48px;
        padding-left: 4px;
    }

    & svg:hover {
        cursor: pointer;
    }
}

.lang {
    display: none;
    width: 25px;
    z-index: 15;
    .opened > & {
        display: block;
    }
    margin-left: 3px;

    padding: 0 !important;
    outline: 1px solid #ccc;
    line-height: 10px;

    a {
        display: block;
        line-height: 10px;
        margin: 0 !important;
        padding: 0 !important;
    }

    img {
        margin: 0;
        padding: 0;
    }

    &:hover {
        outline: 1px solid red;
        cursor: pointer;
    }
}

.arrow {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 10px;

    .opened > & {
        transform: rotateZ(180deg);
    }
}

.lang.is-selected {
    display: block;
    position: absolute;
    z-index: 2;
    right: 1.25rem;
    top: 4px;
}

.spravka-item {
    &:hover {
        cursor: pointer;
        background: #EFEFFF;
    }
}

.our-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.our-partners a {
    display: block !important;
    height: 32px;
    flex-shrink: 0;
}
.our-partners img {
    height: 32px;
}


.main-banner-link a {
    position: relative;
    display: block;
    /* width: 100%; */
    padding-bottom: 79%;
    overflow: hidden;
}

.main-carousel .main-banner-link img {
    position: absolute;
    display: block;
    top: 0%;
    width: 100%;
    /* height: 100%; */
    left: 0;
    object-fit: cover;
}

